@use "@/app/styles/variables.scss" as *;

.paragraph {
  &.size-s {
    font-size: 14px;
    line-height: 21px;
    @media (max-width: $media-laptop) {
      font-size: 12px;
      line-height: 18px;
    }
  }
  &.size-m {
    font-size: 16px;
    line-height: 24px;
    @media (max-width: $media-laptop) {
      font-size: 14px;
      line-height: 21px;
    }
  }
  &.size-l {
    font-size: 18px;
    line-height: 29px;
    @media (max-width: $media-laptop) {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
