@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans-Light.ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans-Regular.ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans-Medium.ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url("/fonts/NotoSans-Bold.ttf");
  font-weight: 700;
  font-display: swap;
}
