@use "@/app/styles/fonts.scss" as *;

:root {
  --default: #787d85;
  --disabled: #e2e2e2;
  --black: #3b434e;
  --white: #ffffff;
  --gray-light: #ebebeb;
  --gray: #a4a4a4;
  --gray-dark: #b3c0d9;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --red-dark: #de0000;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --color-background: #f5f6f8;
  --font-family: "NotoSans", sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-family: var(--font-family);
  color: var(--black);
  background-color: var(--color-background);
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

form,
main,
section,
aside,
header,
footer,
article {
  display: block;
}

input,
button,
textarea {
  font-family: var(--font-family);
  font-weight: 500;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0px;
  border-radius: 0;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button[disabled],
input[type="search"],
input[disabled] {
  font-family: var(--font-family);
  -webkit-border-radius: 0px;
  border-radius: 0;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: none;
  border-radius: 0;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
  font-family: inherit;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
  -webkit-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

a {
  color: inherit;
  -webkit-transition: 0.25s color;
  -o-transition: 0.25s color;
  transition: 0.25s color;
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

.fullScreen {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  & > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    & > div {
      flex-grow: 1;
    }
  }
}
.container {
  width: 100%;
  max-width: 1510px;
  padding: 0 25px;
  margin: 0 auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.margin-left-auto {
  margin-left: auto;
}
.margin-right-auto {
  margin-right: auto;
}
