@use "@/app/styles/variables.scss" as *;

.layout {
  display: flex;
  flex-direction: column;
  :global(.container) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}
.content {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-bottom: 50px;
  padding-top: 30px;
}
.sidebar {
  width: 260px;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  @media (max-width: $media-tablet) {
    width: 100%;
  }
}
.main {
  width: calc(100% - 260px);
  padding: 0 15px;
  @media (max-width: $media-tablet) {
    width: 100%;
  }
}
.logo {
  margin-bottom: 20px;
}
.search {
  margin-bottom: 30px;
}
