.input {
  display: block;
  width: 100%;
  border: 1px solid var(--white);
  border-radius: 5px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05);
  background: var(--white);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 6px 11px;
  transition: 0.25s border-color;
  &::placeholder {
    color: var(--gray);
  }
  &:hover,
  &:focus,
  &:active {
    border-color: var(--primary-hover);
  }
  &:focus {
    outline: none;
  }
}
