.nav {
  ul {
    list-style: none;
  }
}
.menu {
  padding: 0;
  margin: 0;
}
.menuItem {
  &:not(:last-child) {
    margin-bottom: 20px;
  }
}
.title {
  cursor: pointer;
  color: var(--default);
  transition: 0.25s color;
  &.active {
    color: var(--primary);
  }
  &:hover {
    color: var(--primary-hover);
  }
}
.mainTitle {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin-right: 20px;
  svg {
    max-width: 100%;
    max-height: 100%;
    fill: currentColor;
  }
}

.subMenu {
  margin-left: 0;
  margin-right: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 44px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 11px;
    bottom: 0;
    width: 1px;
    background-color: #dfdfdf;
  }
}
.subTitle {
  display: flex;
  padding: 5px 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.category {
  margin: 0;
  padding: 0;
}
.categoryTitle {
  display: flex;
  padding: 5px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}
