.title {
  margin: 0;
  font-weight: 500;
  color: var(--black);
}
.level-1 {
  font-size: 26px;
  line-height: 35px;
}
.level-2 {
  font-size: 22px;
  line-height: 30px;
}
.level-3 {
  font-size: 20px;
  line-height: 27px;
}
