.logo {
  display: flex;
  max-width: 100%;
  max-height: 100%;
  width: 159px;
  height: 43px;
  color: var(--primary);
  &:hover {
    color: var(--primary-hover);
  }
  a {
    display: flex;
    width: 100%;
    height: 100%;
  }
  svg {
    fill: currentColor;
    display: block;
    width: 100%;
    height: 100%;
  }
}
