.button {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  padding: 2px;
  &.size-s {
    width: 30px;
    height: 30px;
  }
  &.size-m {
    width: 40px;
    height: 40px;
  }
  &.size-l {
    width: 50px;
    height: 50px;
  }
  .inner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      fill: currentColor;
      transition: 0.25s transform;
    }
  }
}

.primary {
  color: var(--white);
  border: 1px solid var(--primary);
  background-color: var(--primary);
  transition:
    background-color 0.25s,
    border 0.25s;
  &:hover {
    background-color: var(--primary-hover);
    border-color: var(--primary-hover);
  }
}

.ghost {
  color: var(--black);
  background-color: var(--white);
  border: 1px solid var(--gray-light);
  transition:
    background-color 0.25s,
    border-color 0.25s,
    color 0.25s;
  &:hover {
    background-color: var(--primary);
    color: var(--white);
    border-color: var(--primary);
  }
}
