.button {
  display: inline-block;

  padding: 10px;

  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 5px;

  font-size: 14px;
  .inner {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .icon {
    width: 10px;
    height: 10px;
    &.down {
      svg {
        transform: rotate(90deg);
      }
    }
    svg {
      display: block;
      max-width: 100%;
      max-height: 100%;
      fill: currentColor;
      transition: 0.25s transform;
    }
  }
}

.primary {
  color: var(--white);
  background-color: var(--primary);

  transition: background-color 0.25s;
  &:hover {
    background-color: var(--primary-hover);
  }
}

.ghost {
  color: var(--white);
  background-color: var(--primary);
  border: 1px solid var(--gray-light);
  transition:
    background-color 0.25s,
    border-color 0.25s;
  &:hover {
    background-color: var(--primary);
    border-color: var(--primary);
  }
}
