.raiting {
  position: relative;
  --outline-color: var(--primary);
  display: inline-flex;
  font-size: 0;
  &.error {
    svg {
      stroke: var(--red);
    }
  }
  .label {
    color: var(--primary);
  }
  &:not(.notEditable) {
    .label {
      cursor: pointer;
    }
    &:hover {
      .label {
        color: var(--primary-hover);
        &:hover {
          & ~ .label {
            color: var(--disabled);
          }
        }
      }
    }
  }
  &.notEditable:hover,
  &:not(:hover) {
    .input {
      &:checked {
        & + .label {
          color: var(--primary);
          & ~ .label {
            color: var(--disabled);
          }
        }
      }
    }
  }
}

.label {
  display: flex;
  color: var(--disabled);
  &:last-child {
    svg {
      margin-right: 0;
    }
  }
  svg {
    fill: currentColor;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  &:focus-visible {
    outline: none;
    &:not([tabindex="-1"]) {
      svg {
        outline: 1px solid var(--outline-color);
      }
    }
  }
}
.errorMessage {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
}
