.raiting {
  display: inline-flex;
  font-size: 0;
  .label {
    color: var(--primary);
  }
  &:not(.notEditable) {
    &:hover {
      .label {
        color: var(--primary-hover);
        &:hover {
          & ~ .label {
            color: var(--disabled);
          }
        }
      }
    }
  }
  &.notEditable:hover,
  &:not(:hover) {
    .input {
      &:checked {
        & + .label {
          color: var(--primary);
          & ~ .label {
            color: var(--disabled);
          }
        }
      }
    }
  }
}

.label {
  cursor: pointer;
  display: flex;
  color: var(--disabled);
  svg {
    fill: currentColor;
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
}
